<div class="c-breadcrumbs">
    <div class="container">
		<div class="c-breadcrumbs__wrapper">
			<ul class="c-breadcrumbs__list">
                <li class="c-breadcrumbs__item"><a (click)="backToAdministration()" translate>Administration</a></li>
	            @if (screenGroup) {
                    <li class="c-breadcrumbs__item">
		                <a (click)="navigateToManageEntity()">
		            	    Manage <span translate>{{screenGroup}}</span><span translate> Entities</span>
		                </a>
	                </li>
                }
	 <li class="c-breadcrumbs__item"><a (click)="backToManageRowStatus()" translate>RowStatus</a></li>
        <li class="c-breadcrumbs__item -active" translate>{{action}} <span translate>RowStatus</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
	<div class="c-text-banner__wrapper">
		<h2 class="c-text-banner__title">
			<a (click)="backToManageRowStatus()">
				<i class="c-text-banner__backicon icon-arrow"></i>
			</a>
			<span translate>{{action}}</span>
			<span translate> RowStatus</span>
		</h2>
		<p class="c-text-banner__desc" translate>
			{{action}} <span translate>RowStatus</span> <span translate> Details</span>
		</p>
	</div>
</div>
<div class="c-add-new-account">
	@if (rowStatus) {
        <div class="container">
		        <form name="rowStatusForm" #rowStatusForm="ngForm">
			        <div class="c-add-new-account__wrapper">
				        <div class="c-add-new-account__left">
					        <div class="c-add-new-account__basic-details -data-block" id="data-block-1">
						        <div class="c-basic-details">
							        <span translate>RowStatus</span>
							        <span translate> Details</span>
	                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    RowStatusId
                                            </label>
                                            <input type="number" name="RowStatusId"
                                                    class="o-input__input" 
                                                    min="0"						
                                                    step="False"
                                                    [(ngModel)]="rowStatus.RowStatusId"
                                                    required appInputRestriction
                                                    disabled />
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Name
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Name" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="150" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="rowStatus.Name" required />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Code
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Code" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="50" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="rowStatus.Code" required />                                                   
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Description
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Description" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="4000" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="rowStatus.Description" required />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    DisplayOrder
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="number" name="DisplayOrder"
                                                    class="o-input__input" 
                                                    min="0"						
                                                    step="False"
                                                    [(ngModel)]="rowStatus.DisplayOrder"
                                                    required appInputRestriction
                                                    [disabled]="action === 'View' ? 'disabled' : false" />
                                        </div>
                                 </div>
                                </div>
                            </div>
                            <div class="c-add-new-account__acc-settings -data-block" id="data-block-2">
                                <div class="c-basic-details" translate>
                                    AuditHistory
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    RowStatusUId
                                            </label>
                                        <input type="text" name="RowStatusUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="rowStatus.RowStatusUId" />
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedByAccountUId
                                            </label>
                                      
                                        <input type="text" name="CreatedByAccountUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="rowStatus.CreatedByAccountUId" />
 
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedByApp
                                            </label>
                                            <input type="text" name="CreatedByApp"
                                                        class="o-input__input" disabled
                                                        [(ngModel)]="rowStatus.CreatedByApp" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedOn
                                            </label>
                                            <input type="datetime-local" name="CreatedOn"
										        class="o-input__input" disabled
                                                [ngModel]="rowStatus.CreatedOn | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="rowStatus.CreatedOn = $event" />                                    
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedByAccountUId
                                            </label>
                                      
                                        <input type="text" name="ModifiedByAccountUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="rowStatus.ModifiedByAccountUId" />
 
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedByApp
                                            </label>
                                            <input type="text" name="ModifiedByApp"
                                                        class="o-input__input" disabled
                                                        [(ngModel)]="rowStatus.ModifiedByApp" />                                    
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedOn
                                            </label>
                                            <input type="datetime-local" name="ModifiedOn"
										        class="o-input__input" disabled
                                                [ngModel]="rowStatus.ModifiedOn | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="rowStatus.ModifiedOn = $event" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CorrelationUId
                                            </label>
                                      
                                        <input type="text" name="CorrelationUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="rowStatus.CorrelationUId" />
 
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    EffectiveFrom
                                            </label>
                                            <input type="datetime-local" name="EffectiveFrom"
										        class="o-input__input" disabled
                                                [ngModel]="rowStatus.EffectiveFrom | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="rowStatus.EffectiveFrom = $event" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    EffectiveTo
                                            </label>
                                            <input type="datetime-local" name="EffectiveTo"
										        class="o-input__input" disabled
                                                [ngModel]="rowStatus.EffectiveTo | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="rowStatus.EffectiveTo = $event" />                                    
                                    </div>
                                </div>
                          
                            </div>
                        </div>
                    </div>	
                    <div class="c-add-new-account__right">
                        <div class="c-add-new-account__adding-details">
                            <div class="c-adding-details">
                                <div class="c-adding-details__wrapper">
                                    <div class="c-adding-details__header" translate>
                                        {{action}} <span translate>RowStatus </span> <span translate>Details</span>
                                    </div>
                                    <ul class="c-adding-details__list">
                                        <li class="c-adding-details__list-item -active" (click)="scrollToView('data-block-1')" data-href="data-block-1" translate>RowStatus <span translate>Details</span> </li>
                                        <li class="c-adding-details__list-item" (click)="scrollToView('data-block-2')" data-href="data-block-2" translate>AuditHistory</li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-add-new-account__btns c-kpi-modal__buttons-wrapp">
                        <a (click)="closeRowStatus(rowStatusForm,unsavedChangesContent)" class="o-secondary-button" title="{{'Cancel' | translate}}" [ngClass]="action === 'View' ? 'display-none' : ''"  translate>
					        Cancel
				        </a>
                        <a title="{{'Save' | translate}}"  class="o-primary-button" [ngClass]="action === 'View' ? 'display-none' : ''" 
                                (click)="saveRowStatus(rowStatusForm)" translate>
                            Save
                        </a>
                    </div>
		        </form>
        </div>
    }
</div>
<ng-template #unsavedChangesContent let-c="close" let-d="dismiss">		
        <div class="c-unsave-change__close-button c-kpi-modal__buttons-wrapp" (click)="c('Close click')">
			<i class="c-unsave-change__close-icon icon-close"></i>
        </div>
        <div class="c-unsave-change__content">
            <div class="c-unsave-change__heading" translate>UnsavedChanges</div>
            <p translate>
                UnsavedChangesMsg
            </p>
        </div>
        <div class="c-unsave-change__buttons c-kpi-modal__buttons-wrapp">
            <a class="o-secondary-button c-unsave-change__yes" (click)="cancelModalPopup()" title="{{'Yes' | translate}}" translate>Yes </a>
            <a class="o-primary-button c-unsave-change__no" (click)="c('close click')" title="{{'No' | translate}}" translate>No </a>
        </div>
</ng-template>
