<div class="c-breadcrumbs">
    <div class="container">
		<div class="c-breadcrumbs__wrapper">
			<ul class="c-breadcrumbs__list">
                <li class="c-breadcrumbs__item"><a (click)="backToAdministration()" translate>Administration</a></li>
	            @if (screenGroup) {
                    <li class="c-breadcrumbs__item">
		                <a (click)="navigateToManageEntity()">
		            	    Manage <span translate>{{screenGroup}}</span><span translate> Entities</span>
		                </a>
	                </li>
                }
	 <li class="c-breadcrumbs__item"><a (click)="backToManageCountry()" translate>Country</a></li>
        <li class="c-breadcrumbs__item -active" translate>{{action}} <span translate>Country</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
	<div class="c-text-banner__wrapper">
		<h2 class="c-text-banner__title">
			<a (click)="backToManageCountry()">
				<i class="c-text-banner__backicon icon-arrow"></i>
			</a>
			<span translate>{{action}}</span>
			<span translate> Country</span>
		</h2>
		<p class="c-text-banner__desc" translate>
			{{action}} <span translate>Country</span> <span translate> Details</span>
		</p>
	</div>
</div>
<div class="c-add-new-account">
	@if (country) {
        <div class="container">
		        <form name="countryForm" #countryForm="ngForm">
			        <div class="c-add-new-account__wrapper">
				        <div class="c-add-new-account__left">
					        <div class="c-add-new-account__basic-details -data-block" id="data-block-1">
						        <div class="c-basic-details">
							        <span translate>Country</span>
							        <span translate> Details</span>
	                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    CountryUId
                                                @if (action !== 'View' && action !== 'Edit') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="CountryUId" whiteSpaceValidator
                                                    class="o-input__input" 	                                            
                                                    disabled
                                                    [(ngModel)]="country.CountryUId" required />                                              
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    CountryId
                                            </label>
                                            <input type="number" name="CountryId"
                                                    class="o-input__input" 
                                                    min="0"						
                                                    step="False"
                                                    [(ngModel)]="country.CountryId"
                                                    required appInputRestriction
                                                    disabled />
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Name
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Name" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="150" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="country.Name" required />                                                   
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Code
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Code" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="5" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="country.Code" required />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <div translate>IsEmbargoed
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </div>
                                            <div class="o-toggle-btn mt-10px">
                                                <input type="checkbox" name="IsEmbargoed" id="toggle-oneIsEmbargoed"
                                                                class="o-toggle-btn__input" [disabled]="action === 'View' ? 'disabled' : false"
                                                                [(ngModel)]="country.IsEmbargoed" />                                                            
                                                <label for="toggle-oneIsEmbargoed" class="o-toggle-btn__label">
                                                    <span class="o-toggle-btn__label-one" translate>No</span>
                                                    <span class="o-toggle-btn__checkbox"></span>
                                                    <span class="o-toggle-btn__label-two" translate>Yes</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Description
                                            </label>
                                            <input type="text" name="Description" 
                                                        class="o-input__input"  maxlength="4000" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="country.Description"  />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    DisplayOrder
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="number" name="DisplayOrder"
                                                    class="o-input__input" 
                                                    min="0"						
                                                    step="False"
                                                    [(ngModel)]="country.DisplayOrder"
                                                    required appInputRestriction
                                                    [disabled]="action === 'View' ? 'disabled' : false" />
                                        </div>
                                 </div>
                                </div>
                            </div>
                            <div class="c-add-new-account__acc-settings -data-block" id="data-block-2">
                                <div class="c-basic-details" translate>
                                    AuditHistory
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                RowStatus
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                      
                                            <div class="c-select-wrapper" [ngClass]="action === 'View' ? '-disabled' : ''">
                                                <select name="RowStatusUId"
                                                        class="c-select" appValidateEmptyGuid                                                        [disabled]="action === 'View' ?  'disabled' : false" required
                                                        [(ngModel)]="country.RowStatusUId" > 
                                                    <option [ngValue]="emptyGuid" class="c-select__selected-text icon-arrow-up" translate>
                                                            Select
                                                    </option>
                                                    @if (rowStatuses) {
                                                        <ng-container>
                                                            @for (rowStatus of rowStatuses; track rowStatus) {
                                                                <option class="c-select__option" [disabled]="action === 'View' ? 'disabled' : false" [ngValue]="rowStatus.RowStatusUId">
                                                                        {{rowStatus.Name}}
                                                                </option>
                                                            }
					                                    </ng-container>
                                                    }
                                                </select>
                                            </div>
 
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                CreatedByAccount
                                            </label>
                                      
                                            <div class="c-select-wrapper" [ngClass]="action === 'View' ? '-disabled' : ''">
                                                <select name="CreatedByAccountUId"
                                                        class="c-select" appValidateEmptyGuid                                                        disabled 
                                                        [(ngModel)]="country.CreatedByAccountUId" > 
                                                    <option [ngValue]="emptyGuid" class="c-select__selected-text icon-arrow-up" translate>
                                                            Select
                                                    </option>
                                                    @if (createdByAccounts) {
                                                        <ng-container>
                                                            @for (account of createdByAccounts; track account) {
                                                                <option class="c-select__option" [disabled]="action === 'View' ? 'disabled' : false" [ngValue]="account.AccountUId">
                                                                        {{account.FirstName}}
                                                                </option>
                                                            }
					                                    </ng-container>
                                                    }
                                                </select>
                                            </div>
 
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedByApp
                                            </label>
                                            <input type="text" name="CreatedByApp"
                                                        class="o-input__input" disabled
                                                        [(ngModel)]="country.CreatedByApp" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedOn
                                            </label>
                                            <input type="datetime-local" name="CreatedOn"
										        class="o-input__input" disabled
                                                [ngModel]="country.CreatedOn | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="country.CreatedOn = $event" />                                    
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                ModifiedByAccount
                                            </label>
                                      
                                            <div class="c-select-wrapper" [ngClass]="action === 'View' ? '-disabled' : ''">
                                                <select name="ModifiedByAccountUId"
                                                        class="c-select" appValidateEmptyGuid                                                        disabled 
                                                        [(ngModel)]="country.ModifiedByAccountUId" > 
                                                    <option [ngValue]="emptyGuid" class="c-select__selected-text icon-arrow-up" translate>
                                                            Select
                                                    </option>
                                                    @if (modifiedByAccounts) {
                                                        <ng-container>
                                                            @for (account of modifiedByAccounts; track account) {
                                                                <option class="c-select__option" [disabled]="action === 'View' ? 'disabled' : false" [ngValue]="account.AccountUId">
                                                                        {{account.FirstName}}
                                                                </option>
                                                            }
					                                    </ng-container>
                                                    }
                                                </select>
                                            </div>
 
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedByApp
                                            </label>
                                            <input type="text" name="ModifiedByApp"
                                                        class="o-input__input" disabled
                                                        [(ngModel)]="country.ModifiedByApp" />                                    
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedOn
                                            </label>
                                            <input type="datetime-local" name="ModifiedOn"
										        class="o-input__input" disabled
                                                [ngModel]="country.ModifiedOn | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="country.ModifiedOn = $event" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CorrelationUId
                                            </label>
                                      
                                        <input type="text" name="CorrelationUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="country.CorrelationUId" />
 
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    EffectiveFrom
                                            </label>
                                            <input type="datetime-local" name="EffectiveFrom"
										        class="o-input__input" disabled
                                                [ngModel]="country.EffectiveFrom | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="country.EffectiveFrom = $event" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    EffectiveTo
                                            </label>
                                            <input type="datetime-local" name="EffectiveTo"
										        class="o-input__input" disabled
                                                [ngModel]="country.EffectiveTo | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="country.EffectiveTo = $event" />                                    
                                    </div>
                                </div>
                          
                            </div>
                        </div>
                    </div>	
                    <div class="c-add-new-account__right">
                        <div class="c-add-new-account__adding-details">
                            <div class="c-adding-details">
                                <div class="c-adding-details__wrapper">
                                    <div class="c-adding-details__header" translate>
                                        {{action}} <span translate>Country </span> <span translate>Details</span>
                                    </div>
                                    <ul class="c-adding-details__list">
                                        <li class="c-adding-details__list-item -active" (click)="scrollToView('data-block-1')" data-href="data-block-1" translate>Country <span translate>Details</span> </li>
                                        <li class="c-adding-details__list-item" (click)="scrollToView('data-block-2')" data-href="data-block-2" translate>AuditHistory</li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-add-new-account__btns c-kpi-modal__buttons-wrapp">
                        <a (click)="closeCountry(countryForm,unsavedChangesContent)" class="o-secondary-button" title="{{'Cancel' | translate}}" [ngClass]="action === 'View' ? 'display-none' : ''"  translate>
					        Cancel
				        </a>
                        <a title="{{'Save' | translate}}"  class="o-primary-button" [ngClass]="action === 'View' ? 'display-none' : ''" 
                                (click)="saveCountry(countryForm)" translate>
                            Save
                        </a>
                    </div>
		        </form>
        </div>
    }
</div>
<ng-template #unsavedChangesContent let-c="close" let-d="dismiss">		
        <div class="c-unsave-change__close-button c-kpi-modal__buttons-wrapp" (click)="c('Close click')">
			<i class="c-unsave-change__close-icon icon-close"></i>
        </div>
        <div class="c-unsave-change__content">
            <div class="c-unsave-change__heading" translate>UnsavedChanges</div>
            <p translate>
                UnsavedChangesMsg
            </p>
        </div>
        <div class="c-unsave-change__buttons c-kpi-modal__buttons-wrapp">
            <a class="o-secondary-button c-unsave-change__yes" (click)="cancelModalPopup()" title="{{'Yes' | translate}}" translate>Yes </a>
            <a class="o-primary-button c-unsave-change__no" (click)="c('close click')" title="{{'No' | translate}}" translate>No </a>
        </div>
</ng-template>
