<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!--<log4net threshold="OFF"/>-->
	<root>
		<level value="ALL" />
		<priority value="ALL" />
		<!--<appender-ref ref="EventLogAppender" />-->
		<appender-ref ref="RollingFileAppender" />
		<!--<appender-ref ref="ConsoleAppender" />-->
		<!--<appender-ref ref="EmailAppender" />-->
	</root>
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="C:\home\site\wwwroot\functionlogs\" />
		<datePattern value="yyyyMMddHH'.log'" />
		<staticLogFileName value="false" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<maxSizeRollBackups value="5" />
		<maximumFileSize value="5MB" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			<conversionPattern value="%message%newline" />
		</layout>
	</appender>	
</log4net>
