<div class="c-breadcrumbs">
    <div class="container">
		<div class="c-breadcrumbs__wrapper">
			<ul class="c-breadcrumbs__list">
                <li class="c-breadcrumbs__item"><a (click)="backToAdministration()" translate>Administration</a></li>
	            @if (screenGroup) {
                    <li class="c-breadcrumbs__item">
		                <a (click)="navigateToManageEntity()">
		            	    Manage <span translate>{{screenGroup}}</span><span translate> Entities</span>
		                </a>
	                </li>
                }
	 <li class="c-breadcrumbs__item"><a (click)="backToManageLanguage()" translate>Language</a></li>
        <li class="c-breadcrumbs__item -active" translate>{{action}} <span translate>Language</span></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
	<div class="c-text-banner__wrapper">
		<h2 class="c-text-banner__title">
			<a (click)="backToManageLanguage()">
				<i class="c-text-banner__backicon icon-arrow"></i>
			</a>
			<span translate>{{action}}</span>
			<span translate> Language</span>
		</h2>
		<p class="c-text-banner__desc" translate>
			{{action}} <span translate>Language</span> <span translate> Details</span>
		</p>
	</div>
</div>
<div class="c-add-new-account">
	@if (language) {
        <div class="container">
		        <form name="languageForm" #languageForm="ngForm">
			        <div class="c-add-new-account__wrapper">
				        <div class="c-add-new-account__left">
					        <div class="c-add-new-account__basic-details -data-block" id="data-block-1">
						        <div class="c-basic-details">
							        <span translate>Language</span>
							        <span translate> Details</span>
	                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    LanguageUId
                                                @if (action !== 'View' && action !== 'Edit') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="LanguageUId" whiteSpaceValidator
                                                    class="o-input__input" 	                                            
                                                    disabled
                                                    [(ngModel)]="language.LanguageUId" required />                                              
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    LanguageId
                                            </label>
                                            <input type="number" name="LanguageId"
                                                    class="o-input__input" 
                                                    min="0"						
                                                    step="False"
                                                    [(ngModel)]="language.LanguageId"
                                                    required appInputRestriction
                                                    disabled />
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Name
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Name" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="150" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.Name" required />                                                   
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    LocalizedName
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="LocalizedName" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="150" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.LocalizedName" required />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    DisplayName
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="DisplayName" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="150" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.DisplayName" required />                                                   
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Culture
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="Culture" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="10" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.Culture" required />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    AzureCulture
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="text" name="AzureCulture" whiteSpaceValidator
                                                        class="o-input__input"  maxlength="10" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.AzureCulture" required />                                                   
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    ImageUrl
                                            </label>
                                            <input type="text" name="ImageUrl" 
                                                        class="o-input__input"  maxlength="1500" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.ImageUrl"  />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    ImageBinary
                                            </label>
                                            <input type="text" name="ImageBinary" 
                                                        class="o-input__input"  [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.ImageBinary"  />                                                   
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    Description
                                            </label>
                                            <input type="text" name="Description" 
                                                        class="o-input__input"  maxlength="500" [disabled]="action === 'View' ?  'disabled' : false" 
                                                        [(ngModel)]="language.Description"  />                                                   
                                        </div>
                                 </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <div translate>IsRTL
                                            </div>
                                            <div class="o-toggle-btn mt-10px">
                                                <input type="checkbox" name="IsRTL" id="toggle-oneIsRTL"
                                                                class="o-toggle-btn__input" [disabled]="action === 'View' ? 'disabled' : false"
                                                                [(ngModel)]="language.IsRTL" />                                                            
                                                <label for="toggle-oneIsRTL" class="o-toggle-btn__label">
                                                    <span class="o-toggle-btn__label-one" translate>No</span>
                                                    <span class="o-toggle-btn__checkbox"></span>
                                                    <span class="o-toggle-btn__label-two" translate>Yes</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>
                                                    DisplayOrder
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                            <input type="number" name="DisplayOrder"
                                                    class="o-input__input" 
                                                    min="0"						
                                                    step="False"
                                                    [(ngModel)]="language.DisplayOrder"
                                                    required appInputRestriction
                                                    [disabled]="action === 'View' ? 'disabled' : false" />
                                        </div>
                                 </div>
                                </div>
                            </div>
                            <div class="c-add-new-account__acc-settings -data-block" id="data-block-2">
                                <div class="c-basic-details" translate>
                                    AuditHistory
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                RowStatus
                                                @if (action !== 'View') {
                                                    <span class="c-basic-details__inputrequired">*</span>
                                                }
                                            </label>
                                      
                                            <div class="c-select-wrapper" [ngClass]="action === 'View' ? '-disabled' : ''">
                                                <select name="RowStatusUId"
                                                        class="c-select" appValidateEmptyGuid                                                        [disabled]="action === 'View' ?  'disabled' : false" required
                                                        [(ngModel)]="language.RowStatusUId" > 
                                                    <option [ngValue]="emptyGuid" class="c-select__selected-text icon-arrow-up" translate>
                                                            Select
                                                    </option>
                                                    @if (rowStatuses) {
                                                        <ng-container>
                                                            @for (rowStatus of rowStatuses; track rowStatus) {
                                                                <option class="c-select__option" [disabled]="action === 'View' ? 'disabled' : false" [ngValue]="rowStatus.RowStatusUId">
                                                                        {{rowStatus.Name}}
                                                                </option>
                                                            }
					                                    </ng-container>
                                                    }
                                                </select>
                                            </div>
 
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedByAccountUId
                                            </label>
                                      
                                        <input type="text" name="CreatedByAccountUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="language.CreatedByAccountUId" />
 
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedByApp
                                            </label>
                                            <input type="text" name="CreatedByApp"
                                                        class="o-input__input" disabled
                                                        [(ngModel)]="language.CreatedByApp" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CreatedOn
                                            </label>
                                            <input type="datetime-local" name="CreatedOn"
										        class="o-input__input" disabled
                                                [ngModel]="language.CreatedOn | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="language.CreatedOn = $event" />                                    
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedByAccountUId
                                            </label>
                                      
                                        <input type="text" name="ModifiedByAccountUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="language.ModifiedByAccountUId" />
 
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedByApp
                                            </label>
                                            <input type="text" name="ModifiedByApp"
                                                        class="o-input__input" disabled
                                                        [(ngModel)]="language.ModifiedByApp" />                                    
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    ModifiedOn
                                            </label>
                                            <input type="datetime-local" name="ModifiedOn"
										        class="o-input__input" disabled
                                                [ngModel]="language.ModifiedOn | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="language.ModifiedOn = $event" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    CorrelationUId
                                            </label>
                                      
                                        <input type="text" name="CorrelationUId"
				    					        class="o-input__input" disabled
					    				        [(ngModel)]="language.CorrelationUId" />
 
                                    </div>
                                </div>
                                    <div class="c-basic-details__inputouter">
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    EffectiveFrom
                                            </label>
                                            <input type="datetime-local" name="EffectiveFrom"
										        class="o-input__input" disabled
                                                [ngModel]="language.EffectiveFrom | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="language.EffectiveFrom = $event" />                                    
                                    </div>
                                        <div class="o-input">
                                            <label class="c-basic-details__inputlbl" translate>                        
                                                    EffectiveTo
                                            </label>
                                            <input type="datetime-local" name="EffectiveTo"
										        class="o-input__input" disabled
                                                [ngModel]="language.EffectiveTo | date:'yyyy-MM-ddTHH:mm'" 
                                                (ngModelChange)="language.EffectiveTo = $event" />                                    
                                    </div>
                                </div>
                          
                            </div>
                        </div>
                    </div>	
                    <div class="c-add-new-account__right">
                        <div class="c-add-new-account__adding-details">
                            <div class="c-adding-details">
                                <div class="c-adding-details__wrapper">
                                    <div class="c-adding-details__header" translate>
                                        {{action}} <span translate>Language </span> <span translate>Details</span>
                                    </div>
                                    <ul class="c-adding-details__list">
                                        <li class="c-adding-details__list-item -active" (click)="scrollToView('data-block-1')" data-href="data-block-1" translate>Language <span translate>Details</span> </li>
                                        <li class="c-adding-details__list-item" (click)="scrollToView('data-block-2')" data-href="data-block-2" translate>AuditHistory</li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-add-new-account__btns c-kpi-modal__buttons-wrapp">
                        <a (click)="closeLanguage(languageForm,unsavedChangesContent)" class="o-secondary-button" title="{{'Cancel' | translate}}" [ngClass]="action === 'View' ? 'display-none' : ''"  translate>
					        Cancel
				        </a>
                        <a title="{{'Save' | translate}}"  class="o-primary-button" [ngClass]="action === 'View' ? 'display-none' : ''" 
                                (click)="saveLanguage(languageForm)" translate>
                            Save
                        </a>
                    </div>
		        </form>
        </div>
    }
</div>
<ng-template #unsavedChangesContent let-c="close" let-d="dismiss">		
        <div class="c-unsave-change__close-button c-kpi-modal__buttons-wrapp" (click)="c('Close click')">
			<i class="c-unsave-change__close-icon icon-close"></i>
        </div>
        <div class="c-unsave-change__content">
            <div class="c-unsave-change__heading" translate>UnsavedChanges</div>
            <p translate>
                UnsavedChangesMsg
            </p>
        </div>
        <div class="c-unsave-change__buttons c-kpi-modal__buttons-wrapp">
            <a class="o-secondary-button c-unsave-change__yes" (click)="cancelModalPopup()" title="{{'Yes' | translate}}" translate>Yes </a>
            <a class="o-primary-button c-unsave-change__no" (click)="c('close click')" title="{{'No' | translate}}" translate>No </a>
        </div>
</ng-template>
